*{
    font-family: "Open Sans", sans-serif;
}
h1{
    text-align: center;
    padding-top: 300px;

}
.links { 
    padding: 10px;
    top: 50px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    max-width: fit-content;
 }
 .button {
    color: yellow; 
    cursor: pointer;
    background-color: black;
    border: none;
    border-radius: 6px;
    padding: 22px; 
    transition: background-color 0.2s;
  }
  .button:hover {
    background-color: yellow;
    color: black;
  }
  #fondo{
    background: url("fondo.jpg") top right no-repeat;
    background-size: cover;
  }
