*{
    font-family: "Open Sans", sans-serif;
}
h1{
    text-align: center;
    padding-top: 300px;

}
.links { 
    position: relative;
    top: 50px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  
    max-width: fit-content;
 }
 .button {
    padding: 20px;
    background-color: black;
    color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .button:hover {
    background-color: yellow;
    color: black;
  }
  
  #fondo{
    background: url("fondo.jpg") top right no-repeat;
    background-size: cover;
  }
