*{
    list-style: none;
    text-decoration: none;
}
body{
    background-color: aqua;
}
.menu{
    padding-left:600px ; 
}
h1{
    padding-top: 35px;
    font-size: 35px;
    text-align: center;    
}
h2{
    padding-top: 15px;
    font-size: 35px;
    text-align: center;
    padding-bottom: 30px;
}
.btn{
    display: flex;
    background-color: #000000;
    border: none;
    color: white;
    padding-left:30px ;
    padding-top: 10px;
    padding-right:30px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 33px;
    margin: 4px 2px;
    cursor: pointer;
    width: 500px;
    
}
.btn:hover{
    background-color: white;
    color: black;
}
