@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto&display=swap');
/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    display:grid;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px ;
    background-color: rgb(7, 49, 92);
}
h1{ 
    text-align: center;
}
nav li{
    display: inline-block;
    padding: 0px 15px;
}
nav li a{
    transition: all .4s ease 0s;
    color: white;
    line-height: 65px;
    font-size: 20px;
}
nav li a:hover{
    color: rgb(0, 0, 0);
}
aside ul{
    width: 20%;
    position: fixed;
    float: left;
    background-color: rgb(169, 169, 175);
    height:565px;
    overflow:auto;
}
aside li a {
    display: block;
    line-height: 65px;
    font-size: 20px;
    color: white;
    transition: .4s;
}
aside li:hover a{
    padding-left: 50px;
}
.cubos{
    justify-content: space-between;
    padding-left: 20%;
}
.centro{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: -40px;
}  
.centro .box{
    float: left;
    height: 250px;
    width: 350px;
    background-color: rgb(7, 49, 92);
    text-align: center;
    border-radius: 15px;
    padding-top: 20px;
    margin: 20px;
}
h3{
    color: white;
    padding:10px;
}
.centro .box1{
    float: left;
    height: 250px;
    width: 350px;
    text-align: center;
    padding-top: 10px;
    margin: 20px;
}

footer{
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgb(128, 139, 139);
    padding: 10px;
}
.menu{
    text-align: center;
    padding-top: 50px;
    padding-left: 820px;
}

.btn{
    display: flex;
    background-color: #000000;
    border: none;
    color: white;
    padding-left:30px ;
    padding-top: 10px;
    padding-right:30px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 33px;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
    
}
.btn:hover{
    background-color: red;
    color: white;
}
