@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto&display=swap');
/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.logocirculo{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family:'Poppins', sans-serif;
    background-color:white;
}
.container{
    max-width: 1000px;
    margin:0 auto;
}
.logo img{
    width: 70px;
}
.lupa img{
    width: 70px;
}
.idioma img{
    width: 70px;
}
.usuario img{
    width: 70px;
}
.header{
    background-color:white;
    display: flex;
    align-items: center;
    min-height: 13vh;
}
.menu{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu .navbar ul li{
    position: relative;
    float: right;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 15px;
    color: rgba(255, 154, 2, 1);
    display: block;
    font-weight: 600;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.parte0-txt h1{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 154, 2, 1);
    font-size: 30px;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 40px;
}
.btn-1{
    display: inline-block;
    padding: 13px 25px;
    background-color: rgb(255, 183, 0);
    color: black;
    font-size: 16px;
    text-transform: capitalize;
}
.btn-1:hover{
    background-color: rgb(240, 202, 108);
}
.parte0-content{
    display: flex;
    margin-bottom:5px;
    background-color: rgba(0, 3, 26, 1);
}
.parte0-txt{
    width: 50%;
}
.parte0-img{
    width: 80%;
    text-align: right;
    margin-right: 40px;
}
.parte0-img img{
    width: 300px;
}
.parte1{
    margin-top: 10px;
    margin-bottom: 20px;
}
.parte1 h1{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 154, 2, 1);
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 20px;
}
.parte1-content{
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}
.parte1-txt{
    width: 50%;
}
.parte1-img{
    width: 80%;
    text-align:left;
    margin-left: 70px;
}
.parte1-img img{
    width: 300px;
}

.footer{
    padding: 50px 20px 100px 20px;
    background-color: rgba(0, 3, 26, 1);
}
.link a{
    color: white;
    font-size: 15px;
    display: block;
    padding: 10px;
    position: relative;
    text-align: center;
    float: left; 
    justify-content: space-between;
}
.link a:hover{
    color: rgba(255, 154, 2, 1);
}